
.leftSide{
    border-right: black solid 1px;
}

.competences{
    .leaderList{
        overflow: auto;
        height:auto;
        max-height:78vh
    }

    .leaderListItem{
        padding: 10px;
        cursor: pointer;
    }

    .SelectLeader{
        position: fixed;
        font-size: 25px;
        top: 50%;
        left: 50%;
    }

    .header{
        font-size: 20px;
        text-align: center;
    }

    .rightSide{
        text-align: left;
        padding-left: 20px;
    }

    .leftSide{
        text-align: right;
        padding-right: 20px;

    }

    .listItem{
        margin: 0;


        .moveButton{
            margin: 5px 15px 5px 15px;
        }

        .oneItem{
            margin: 0;
            font-size: 17px;
        }

        .right{
            text-align: left;
        }

        .left{
            text-align: right;
        }

    }
}

.schedules{
    .scheduleList{
        overflow: auto;
        height:auto;
        max-height:78vh
    }

    .generateNew{
        height: 100px;
    }

    .scheduleListItem{
        padding: 5px 10px;
        cursor: pointer;
    }

    .timeCount{
        text-align: center;
    }

    .timeCount button{
        border-radius: 10px;
        background: #63b1ff;
        font-size: 20px;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .timeCount button:hover{
        color: #fff;
        font-weight: 900
    }

    .timeCount .number{
        margin: 0 15px;
        font-size: 20px;
    }

    .tableStyle{
        margin: 4px;
    }

    .tableStyle .ant-table-body .ant-table-cell {
        border: #3f3f3f solid 1px;
        padding: 1px;
    }

    .tableStyle .ant-table-header .ant-table-cell{
        width: 200px;
    }

    .scheduleItem{
        text-align: center;
        margin: 0;
        padding: 5px;
    }

    .scrollingBox{
        overflow: auto;
        max-width: 85vw;
        max-height: 90vh;
    }
    .scheduleTable{

        .selectedItem{
            border: rgb(0, 42, 255) solid 3px !important;
            padding: 2px;
        }

        th{
            min-width: 200px;
            height: 80px;
            padding: 1px;
            background: #d5d5d5;
        }

        td{
            text-align: center;
        }

        th, td{
            border: 1px solid #000;
            padding: 2px;
        }
    }

}

.ant-col{
    max-height: 90vh;
}


span.timeSpan{
    float: left;
    margin: 5px 5px 5px 15px;
    font-size: 20px;
}

.Participants{
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .addParticipant {
        width: 300px;
    }

    .participantTable {
        max-width:90vw;
        min-width:70vw;
        border: black solid 1px;
        margin-bottom: 25px;
    }
}


.Leaders{
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .addLeader {
        width: 300px;
    }

    .leaderTable {
        max-width:90vw;
        min-width:70vw;
        border: black solid 1px;
        margin-bottom: 25px;
    }
}

.icon{
    cursor: pointer;
    margin: 0 15px;
}

.table-row-light:hover td,.table-row-dark:hover td{
    background: rgba(255,255,255,0 )!important;
}

.table-row-light {
    background-color: rgba(119, 154, 243, 0.2);
}

.table-row-dark {
    background-color: rgba(144, 165, 213, 0.2);
}